<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <ul class="menu">
                <li>Ventas</li>
                <li>¿Que quieres comprar hoy?</li>
                <li>Departamentos</li>
                <li>Servicios</li>
                <li><input type="text"></li>
                <li>Iniciar sesión</li>
            </ul>
        </header>
        <div class="main">
            <section>
                <h2>Venta de productos</h2>
                <article>
                <div class="productos"><img src="/public/img/100159895-2.jpeg"><p>Producto</p></div>
                <div class="productos"><img src="/public/img/71pHnBCAqmL.jpg" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/81e-sZ4o1aS._AC_UF894,1000_QL80_.jpg" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/100159895-2.jpeg" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/eos-rebel-t100_product.png" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/images (1).jpeg" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/images.jpeg" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/Pritt_Lápiz_Adhesivo_Nuevo_22g_Primary_Front.jpeg" ><p>Producto</p></div>
                <div class="productos"><img src="/public/img/Termo-REgalo-02.jpg" ><p>Producto</p></div>
                </article>
            </section>
            <aside>
                <ul>
                    <li>Ventas</li>
                    <li>Vender</li>
                    <li>Distribuir</li>
                    <li>Contactar</li>
                    <li>Cotizar</li>
                </ul>
            </aside>
            </div>
        <footer>Isidro Gómez Octavio Cesar</footer>
    </div>        
</body>
</html>